<%= form_with model: @course, local: true do |form| %>
 
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
   <p>
    <%= form.label :first_name%><br>
    <%= form.text_field :first_name%>
  </p>
 
  <p>
    <%= form.label :last_name%><br>
    <%= form.text_area :last_name%>
  </p>

 <p>
    <%= form.label :address%><br>
    <%= form.text_area :address%>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>